padding: 5px;
left: 30%;
position: relative;.questionjs{

  border: medium solid rgb(223, 64, 4);
  //width: 300px;
  background-color: white;
  color:black;

}

.questionjs .header{
  background-color: rgb(223, 64, 4);
  padding: 5px;
  color: white;
  font-weight: bold;
}

.questionjs .message{
  padding:5px;
  font-weight: bold;

}

.questionjs .editor{

  margin: 10px;
  border-radius: 3px;
  width: 90%;
  height: 100px;
}

.questionjs .buttons{
  margin: 10px;
  margin-left: 15%;
}

.questionjs .buttons .button{

   border-radius: 8px;
   margin-right: 20px;
}

.questionjs .submit{

  background-color: rgb(19, 143, 72);
  width: 40%;
  color:white;
  border:none;
}

.questionjs .solution{

  background-color: rgb(16, 115, 147);
  width: 40%;
  color:white;
  border:none;
}

.questionjs .submit:hover{

  background-color: rgb(47, 161, 96);
  width: 40%;
  color:white;
}

.questionjs .solution:hover{

  background-color: rgb(34, 138, 172);
  width: 40%;
  color:white;
}

.questionjs .submit:active{

  background-color: rgb(14, 108, 54);
  width: 40%;
  color:white;
}

.questionjs .solution:active{

  background-color: rgb(9, 91, 117);
  width: 40%;
  color:white;
}

.questionjs .correct{

  border-radius: 8px;
  color: white;
  margin-left:10px;
  padding-left:5px;
  width:35%;
  padding: 5px;
  left: 30%;
  position: relative;
  background: #17c048;
  height: 0;
  opacity: 0;
  font-weight: bold;

}

.questionjs .fail{

  border-radius: 8px;
  color: white;
  padding-left:5px;
  margin-left:10px;
  width:35%;
  padding: 5px;
  left: 30%;
  position: relative;
  background: rgba(246,41,12,1);
  height: 0;
  opacity: 0;
  font-weight: bold;

}

.questionjs .correct.show{
  height: 100%;
  opacity: 1;
  transition: all 1s ease-in;
}

.questionjs .fail.show{
  height: 100%;
  opacity: 1;
  transition: all 1s ease-in;
}
