.question{

  margin:20px;
  border: medium solid rgb(223, 64, 4);
  //width: 300px;
  background-color: white;
  color:black;

}

.question .header{
  background-color: rgb(223, 64, 4);
  padding: 5px;
  color: white;
  font-weight: bold;
}

.question .message{
  padding:5px;
  font-weight: bold;

}

.question .respuesta{

  margin: 10px;
  border-radius: 3px;
  width: 80%;
}
