.regexp{

  margin:20px;
  border: medium solid rgb(223, 64, 4);
  width: 300px;

}

.regexp .header{
  background-color: rgb(223, 64, 4);
  padding: 5px;
  color: rgb(233, 226, 236);
  font-weight: bold;
}

.regexp .message{
  padding:5px;
  font-weight: bold;

}

.regexp #respuesta{

  margin: 10px;
  border-radius: 3px;
}

.regexp .buttons{
  margin: 10px;
}

.regexp .buttons .button{

   border-radius: 8px;
   margin-right: 20px;

}

.regexp #submit{

  background-color: rgb(19, 143, 72);
  width:20%;
}

.regexp #solution{

  background-color: rgb(16, 115, 147);
  width:20%;
}
